*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding: 133px 32px;
}

.search-form {
  display: flex;
  gap: 40px;
}

.result {
  inline-size: 711px;
}

.content__details {
  inline-size: 399px;
}

.result__video-container {
  block-size: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  block-size: 386px;
  inline-size: 100%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
}

.content__list {
  position: relative;
  overflow: auto;
  scrollbar-width: none;
  block-size: 205px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-child {
  inline-size: 225px;
}

.search-form__fieldset:last-child {
  inline-size: 212px;
}

.search-form__fieldset-title {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.5px;
  padding: 2px 0;
}

.search-form__textfield {
  inline-size: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.2;
  background-color: transparent;
  padding: 2px 0;
  border: none;
  outline: none;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border: 1px solid #fff;
  cursor: pointer;
}

input[type='checkbox']:checked+span {
  background: center / 88% no-repeat url(../images/Rectangle.svg);
}

.button {
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  color: #fff;
  block-size: 34px;
  inline-size: 100%;
}

.search-form__submit-button {
  inline-size: 194px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  font-size: inherit;
  margin-top: auto;
}

.more-button {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  font-size: inherit;
}


.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.title .content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.2;
  color: #fff;
}

.preloader {
  position: absolute;
  inset: 0;
}

.search-form__label-text {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  font-size: inherit;
}

.search-form__label {
  cursor: pointer;
  margin-right: 4px;
}

.content__video-card:active {
  background-color: #545050;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:focus-within {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #fff;
  transition: 0.3s ease;
}